* {
  padding: 2;
  margin: 0;
  box-sizing: border-box; }

body {
  background-image: linear-gradient(to bottom, #aab7b8, #839192); }

.navbar-light .navbar-brand {
  font-weight: bold;
  color: #839192;
  font-size: 43px; }

a:hover {
  background-color: #839192; }

.nav-link {
  font-size: 20px;
  font-weight: bold; }

.dropdown-menu {
  margin: 10px; }

.main {
  display: flex;
  flex-flow: row wrap;
  margin-right: 10%; }
  .main .main__title--h1 {
    font-size: 38px;
    color: #9A7D0A;
    margin-left: 30px; }

.main__p {
  color: white;
  word-spacing: normal;
  font-size: 20px;
  margin-left: 5px; }

.card-img {
  flex-wrap: wrap;
  align-items: center;
  justify-content: center; }

.card {
  margin-top: 65px; }

.card-img .img-fluid img {
  border-color: orangered; }

.contenedorGallery {
  height: 220vh; }

.main__title--h2 {
  font-size: 25px;
  color: #839192;
  margin-left: 25px; }

.mainGallery {
  display: flex;
  flex-wrap: wrap;
  padding: 5px;
  margin-left: 70px;
  justify-items: center;
  align-items: center; }

.mainGallery__h2 {
  display: flex;
  font-size: 38px;
  color: #9A7D0A;
  margin-left: 30px; }

.sizeimg {
  width: 100%;
  height: auto;
  max-height: 500px;
  max-width: 500px;
  object-fit: cover;
  object-position: center center; }

.mainColum {
  flex: 80%;
  padding: 5px; }

.mainColum img {
  margin-top: 5px;
  object-fit: cover; }

.footer {
  display: flex;
  justify-content: center;
  gap: 25px;
  margin-bottom: 20px;
  align-items: baseline; }

#main {
  margin-left: 250px; }

.socialMediaDiv {
  display: flex;
  color: #9A7D0A;
  font-size: 22px;
  margin: 25px;
  padding: 5px; }

.socialMediaDiv2 {
  display: flex; }

.socialMediaDiv2 a {
  display: flex;
  color: #9A7D0A;
  font-size: 22px;
  text-decoration: none;
  margin-left: 50px;
  margin-top: 30px; }

.containerGallery {
  background-image: linear-gradient(to bottom, black, grey);
  height: 100vh; }

.sizeimg:hover:hover {
  filter: sepia(60%); }

legend {
  font-size: 38px;
  text-decoration: none;
  color: #9A7D0A; }

.fieldsetDetails {
  display: inline-block; }

.main__form {
  margin-left: 30px; }

.btn-outline-secondary a {
  text-decoration: none;
  font-size: 22px;
  border: #9A7D0A;
  font-weight: bold;
  color: #010203; }

.btn-outline-secondary a:hover {
  color: #9A7D0A; }

@keyframes aparecer {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@media only screen and (max-width: 768px) {
  .mainColum {
    flex: 100%; }
  .navbar-light .navbar-brand {
    font-size: 35px; }
  .navbar-brand {
    margin-right: 9rem; }
  .main {
    display: flex;
    flex-flow: row wrap; }
  .main .main__title--h1 {
    font-size: 29px;
    color: #9A7D0A; }
  .main__p {
    word-spacing: normal;
    font-size: 18px; }
  #main {
    margin-left: 2px; }
  legend {
    font-size: 25px; }
  .socialMediaDiv {
    font-size: 16px; }
  .btn-outline-secondary a {
    font-size: 16px; }
  #main {
    margin-left: 30px; }
  div #main .main__form {
    font-size: 16px; } }

@media only screen and (max-width: 400px) {
  .navbar-light .navbar-brand {
    font-size: 25px; }
  .main .main__title--h1 {
    font-size: 20px;
    color: #9A7D0A; }
  .main__p {
    word-spacing: normal;
    font-size: 16px; }
  #main {
    margin-left: 2px; }
  legend {
    font-size: 19px; }
  input .fieldsetDetails {
    font-size: 14px; }
  label {
    font-size: 14px; }
  p #main {
    font-size: 14px; }
  .socialMediaDiv {
    font-size: 18px;
    margin-bottom: 5px; }
  .btn-outline-secondary a {
    font-size: 18px; }
  div #main .main__form {
    font-size: 14px; } }
