$colorgrey: #839192;
$colorblack: #010203 ;
$colorlighblue: #aab7b8;
$colorwhite: white;
$titlemainsize: 38px;
$border: 4px;

$bordeoscuro: $border*2 solid $colorblack;
$bordeclaro: $border solid $colorlighblue;
