$colorgrey: #839192;
$colorblack: #010203 ;
$colordark:#9A7D0A;
$colorlighblue: #aab7b8;
$colorwhite: white;
$titlemainsize: 38px;
$border: 4px;
$fontfooter: 22px;
$fontfootermq400: 16px;

$bordeoscuro: $border*2 solid $colorblack;
$bordeclaro: $border solid $colorlighblue;
